<form [formGroup]="newQuestion" (submit)="addQuestion()" >
    <div class="class form-group input-group-lg">
        <input type="text" class="form-control" placeholder="Ingrese pregunta" formControlName="title">
        <span class="text-danger" *ngIf="newQuestion.get('title').hasError('required') && newQuestion.get('title').touched">
            El titulo <strong>es requerido</strong>
        </span>
    </div>
    <!-- loop para añadir form dinamico -->
    <div formArrayName="answers"  *ngFor="let answer of getAnswers.controls; let i = index">
        <div class="input-group" [formGroupName]="i" style="padding-top:10px;">
            <input type="text" class="form-control" placeholder="{{answer.title}}" formControlName="title">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <!-- is correct NO TIENE SI ES CORRECTA = solo indica su
                    indice que luego se compara con la correcta -->
                    <input type="radio" (change)="setCorrectAnswer(i)" [value]="i" name="isCorrect" formControlName="isCorrect">
                </div>
            </div>
            <span class="material-icons delete-icon" (click)="deleteAnswer(i)">delete</span>
        </div>
        <span class="text-danger" *ngIf="answer.get('title').hasError('required') && answer.get('title').touched">
            La descripción <strong>es requerida</strong>
        </span>
    </div>
    <span class="material-icons add-icon" (click)="addAnswer()">add</span>
    <br>
    <br>
    <button type="submit" class="btn btn-primary float-right">Guardar pregunta</button>
</form>