.container-bienvenida {
    margin: auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    padding-top: 20%;
  }

.container-bienvenida .titulo{
    color: white;
    border-bottom: solid 5px orange;
}

.container-bienvenida .btn-dark{
    margin-left: 5px;
    margin-right: 5px;
}